body {
    background: whitesmoke;
}

.game {
    width: 800px;
    height: 300px;
    border-bottom: 1px solid black;
    margin: auto;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(https://w7.pngwing.com/pngs/39/802/png-transparent-gray-dinosaur-illustration-tyrannosaurus-t-shirt-dino-t-rex-runner-2-lonely-t-rex-run-2-google-chrome-8-bit-game-angle-text.png);
    background-size: 50px 50px;
    position: relative;
    top: 250px;
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(https://www.tynker.com/projects/images/396cce56f8f0cbe494d66cb68feb6ca80531e193/cacti---cacti1.png);
    background-size: 20px 40px;
    position: relative;
    top: 210px;
    left: 780px;
    animation: cactusMow 2s infinite linear;
}

.jump {
    animation: jump .3s linear;
}

@keyframes jump {
    0% {
        top: 250px;
    }
    30% {
        top: 200px;
    }
    50% {
        top: 150px;
    }
    80% {
        top:200px ;
    }
    100% {
        top: 250px;
    }
}

@keyframes cactusMow {
    0% {
        left: 780px;
    }
    50% {
        left: 380px;
    }
    100% {
        left: -40px;
    }
}
